{% extends 'main/base.html' %}

{% block body %}
<div class="container mt-3">
    <div>
        <h1 style="display: inline;">Bill Tracker</h1>
        <a class="mt-3 float-right" href="{% url 'main:logout' %}">Logout {{request.session.fullname}}</a>
    </div>
    <form class="form-inline mt-3" action="{% url 'main:data_ajax' %}" method="POST">
        <div class="form-group mr-3">
            <input type="text" name="desc" id="desc" class="form-control" placeholder="Description">
        </div>
        <div class="form-group mr-3">
            <input type="text" name="amount" class="form-control" placeholder="Amount">
        </div>
        <button type="submit" class="btn btn-primary btn-sm add">Add</button>
        <i class="fa fa-spinner ml-3 fa-spin hide" id="spinner"></i>
    </form>
    <hr>
    <div class="content container"></div>
</div>
{% endblock %}

{% block scripts %}
<script>
    function displayEntry(entry_id, desc, amount) {
        let dispDesc = $("<div></div>");
        dispDesc.addClass("col-7")
        dispDesc.attr("contenteditable", "true");
        dispDesc.attr("orig-val", desc);
        dispDesc.text(desc);

        dispDesc.keypress(function(event) {
            if (event.keyCode === 13) {
                event.preventDefault();
                dispDesc.blur();
                let newTxt = dispDesc.text().trim();
                let origTxt = dispDesc.attr("orig-val")
                dispDesc.text(origTxt);
                if (newTxt.length > 0) {
                    $(".fa").toggleClass("hide");
                    $.ajax({
                        beforeSend: setCsrfToken,
                        type: "POST",
                        url: $("form").attr("action"),
                        data: { "action": "edit", "desc": newTxt, "entry_id": entry_id },
                        success: function (response) {
                            $(".fa").toggleClass("hide");
                            dispDesc.text(newTxt);
                        },
                        error: function (response) {
                            $(".fa").toggleClass("hide");
                            console.log(response)
                        },
                    });
                }
            }
        });

        let dispAmount = $("<div></div>");
        dispAmount.addClass("col-2")
        dispAmount.attr("contenteditable", "true");
        dispAmount.attr("orig-val", amount);
        dispAmount.text(amount);

        dispAmount.keypress(function(event) {
            if (event.keyCode === 13) {
                event.preventDefault();
                dispAmount.blur();
                let newTxt = dispAmount.text().trim();
                let origTxt = dispAmount.attr("orig-val")
                dispAmount.text(origTxt);
                if (newTxt.length > 0 && !isNaN(newTxt + 0)) {
                    $(".fa").toggleClass("hide");
                    $.ajax({
                        beforeSend: setCsrfToken,
                        type: "POST",
                        url: $("form").attr("action"),
                        data: { "action": "edit", "amount": newTxt, "entry_id": entry_id },
                        success: function (response) {
                            $(".fa").toggleClass("hide");
                            dispAmount.text(newTxt);
                        },
                        error: function (response) {
                            $(".fa").toggleClass("hide");
                            console.log(response)
                        },
                    });
                }
            }
        });

        let delBtn = $("<button></button>");
        delBtn.addClass("btn btn-danger btn-sm delete");
        delBtn.text("Delete");

        delBtn.click(function(event) {
            $(".fa").toggleClass("hide");
            $.ajax({
                beforeSend: setCsrfToken,
                type: "POST",
                url: $("form").attr("action"),
                data: { "action": "delete", "entry_id": entry_id },
                success: function (response) {
                    $(".fa").toggleClass("hide");
                    delBtn.parent().remove();
                },
                error: function (response) {
                    $(".fa").toggleClass("hide");
                    console.log(response)
                },
            });
        });

        let row = $("<div></div>");
        row.addClass("row mt-3");
        row.attr("entry_id", entry_id)
        row.append(dispDesc);
        row.append(dispAmount);
        row.append(delBtn);
        $(".content").append(row);
    }

    function onReadDone(data) {
        if (('entries' in data) && Array.isArray(data.entries)) {
            for (let i = 0; i < data.entries.length; ++i) {
                entry = data.entries[i]
                if (('pk' in entry) && ('fields' in entry) && ('desc' in entry.fields) && ('amount' in entry.fields))
                    displayEntry(entry.pk, entry.fields.desc, entry.fields.amount);
            }
        }
    }

    $(document).ready(function() {
        $(".add").click(function(event) {
            event.preventDefault();
            let descInput = $("input[name=desc]");
            let descTxt = descInput.val().trim();
            descInput.val("")
            let amountInput = $("input[name=amount]");
            amountTxt = amountInput.val().trim();
            amountInput.val("");
            descInput.focus();
            if (descTxt.length > 0 && amountTxt.length > 0 && !isNaN(amountTxt + 0)) {
                $(".fa").toggleClass("hide");
                $.ajax({
                    beforeSend: setCsrfToken,
                    type: "POST",
                    url: $("form").attr("action"),
                    data: { "action": "add", "desc": descTxt, "amount": amountTxt },
                    success: function (response) {
                        $(".fa").toggleClass("hide");
                        displayEntry(response.entry_id, descTxt, amountTxt);
                    },
                    error: function (response) {
                        $(".fa").toggleClass("hide");
                        console.log(response)
                    },
                });
            }
        });

        $(".fa").toggleClass("hide");
        $.ajax({
            beforeSend: setCsrfToken,
            type: "POST",
            url: $("form").attr("action"),
            data: { "action": "read" },
            success: function (response) {
                $(".fa").toggleClass("hide");
                onReadDone(response)
            },
            error: function (response) {
                $(".fa").toggleClass("hide");
                console.log(response)
            },
        });
    });
</script>
{% endblock %}

